body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
body .empty-result {
  text-align: center;
  margin-top: 20px;
}
body .container {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  body .container .container {
    width: 940px;
  }
}
body .content {
  color: #000000;
}
body .header-panel {
  color: #ffffff;
  height: 120px;
  background-color: #212121;
}
body .header-panel .button-wrapper {
  margin: 12px;
}
body .header-panel .button-wrapper .log-in {
  font-size: 18px;
  margin: 15px;
}
body .tiles {
  color: #FFFFFF;
  margin-top: 20px;
}
body .tiles img {
  width: 100%;
  height: auto;
}
body .tiles p {
  margin: 0;
}
body .tile {
  padding: 0;
  background: #424242;
}
body .tile .content-wrapper {
  margin: 5px 0;
  padding: 0 10px;
  width: 86%;
  float: left;
}
body .tile .content-wrapper .name {
  font-size: 18px;
}
body .tile .checkbox {
  color: #757575;
  margin-top: 17px;
  margin-bottom: 3px;
}
body .all-shows img {
  width: 100%;
  height: auto;
}
body .all-shows .tiles {
  position: relative;
}
body .all-shows .tiles .remove {
  position: absolute;
  right: 110px;
  top: 10px;
  z-index: 100;
  color: rgba(85, 87, 87, 0.46);
}
body .all-shows .tiles .remove:hover {
  color: #f9431b;
}
body .all-shows .tiles .content {
  color: #000000;
  padding: 40px 70px;
}
@media (max-width: 640px) {
  body .all-shows .tiles .content {
    padding: 3px 15px;
  }
}
body .all-shows .tiles .content .name {
  font-size: 20px;
}
body .all-shows .tiles .tile {
  margin: 0;
}
body .all-shows .tiles .tile.show {
  background: #424242;
  padding: 0;
  padding-bottom: 3px;
}
body .all-shows .tiles .tile.show .content-wrapper {
  padding: 0 10px;
  width: 86%;
}
body .all-shows .tiles .heart i:hover {
  color: #ff0400;
}
body .all-shows .search {
  margin-top: 10px;
}
body .show-wrapper .show {
  margin-top: 20px;
}
body .show-wrapper .show .remove {
  float: right;
  margin-right: 20px;
  color: rgba(85, 87, 87, 0.46);
}
body .show-wrapper .show .remove:hover {
  color: #f9431b;
}
body .show-wrapper .show .img-wrapper img {
  width: 200px;
}
@media (max-width: 640px) {
  body .show-wrapper .show .img-wrapper img {
    width: 100%;
  }
}
body .show-wrapper .show .heart {
  float: left;
  margin-right: 20px;
}
body .show-wrapper .sm-btn-icon i {
  left: -5px;
}
body .show-wrapper .show-content .name {
  font-size: 20px;
}
body .show-wrapper .shows img {
  width: 100%;
  height: auto;
}
body .show-wrapper .episodes-wrapper {
  padding: 0px 16px;
}
body .show-wrapper .episodes-wrapper .tile .content-wrapper {
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
}
body .show-wrapper .episodes-wrapper .tile .content-wrapper .checkbox-wrapper {
  margin-top: 4px;
  margin-bottom: 30px;
}
body .show-wrapper .episodes-wrapper .tile .content-wrapper .checkbox-wrapper .checkbox {
  float: right;
  margin: 0;
}
body .show-wrapper .episodes-wrapper .content {
  position: relative;
  margin-top: 20px;
}
body .show-wrapper .episodes-wrapper .content .remove {
  position: absolute;
  right: 110px;
  top: 10px;
  z-index: 100;
  color: rgba(85, 87, 87, 0.46);
}
body .show-wrapper .episodes-wrapper .content .remove:hover {
  color: #f9431b;
}
body .bottom-menu {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
}
body .bottom-menu .small {
  margin: 5px;
}
body .button-lg-icon {
  top: 0 !important;
}
body .login {
  text-align: center;
}
body .login .login-wrapper {
  background: #FFFFFF;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000000;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
body .my-shows img {
  width: 100%;
  height: 400px;
}
body .my-shows .tile {
  background: none;
}
body .my-shows .tile .wrapper {
  background: #424242;
  margin: 15px;
  margin-top: 0;
  padding-bottom: 1px;
}
body .my-shows .tile .wrapper .image-wrapper {
  position: relative;
}
body .my-shows .tile .wrapper .image-wrapper .name {
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
  font-size: 15px;
}
body .my-shows .tile .wrapper .checkbox {
  margin-top: 5px;
  margin-bottom: 12px;
}
body .register-wrapper {
  -webkit-filter: blur(0px) brightness(1);
  background: #FFFFFF;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000000;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
body .register-wrapper h1 {
  text-align: center;
}
body .register-wrapper .submit {
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}
body .season-wrapper .show-wrapper {
  margin: 10px 20px;
  color: #000000;
}
body .season-wrapper .show-wrapper .checkbox-name {
  float: left;
  margin-right: 15px;
}
body .season-wrapper .show-wrapper .name a {
  font-size: 35px;
}
body .season-wrapper .show-wrapper .season {
  font-size: 25px;
}
body .season-wrapper .tile {
  background: none;
}
body .season-wrapper .tile .checkbox {
  margin: 7px;
  margin-bottom: 12px;
}
body .season-wrapper .tile .tile-wrapper {
  margin: 0 10px;
  background: #424242;
}
body .season-wrapper .tile .tile-wrapper .image-wrapper {
  position: relative;
}
body .season-wrapper .tile .tile-wrapper .image-wrapper img {
  height: 180px;
}
body .season-wrapper .tile .tile-wrapper .image-wrapper .name {
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
  font-size: 15px;
}
body .season-wrapper .tile .tile-wrapper .content-wrapper {
  float: none;
}
body .season-wrapper .tile .tile-wrapper .checkbox {
  float: right;
}
body .season-wrapper .bottom-menu i {
  right: 5px;
}
body .welcome {
  text-align: center;
}
body .welcome .welcome-wrapper {
  margin: 0;
  position: absolute;
  top: 38%;
  color: #FFFFFF;
  margin-right: -50%;
}
@media (max-width: 700px) {
  body .welcome .welcome-wrapper {
    transform: inherit;
  }
}
body .welcome .welcome-wrapper h1 {
  font-size: 55px;
}
body .welcome .welcome-wrapper p {
  font-size: 30px;
  text-align: left;
}
body .welcome .welcome-wrapper .log-in {
  padding: 3px 10px;
  font-size: 23px;
}
body .background {
  width: 100%;
}
body .background .background-wrapper .upper {
  background: url("../files/image/hoc.jpg");
  background-size: 100%;
  width: 100%;
}
body .background .background-wrapper .lower {
  background: url("../files/image/background-collage.jpg");
  background-size: 97%;
  height: 100%;
  background-repeat: no-repeat;
}
body .search-trakt-wrapper .results .result {
  margin-top: 20px;
}
body .search-trakt-wrapper .results .result .image-wrapper img {
  width: 100%;
  height: auto;
}
body .search-trakt-wrapper .results .result .content-wrapper .description {
  max-height: 220px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .search-wrapper .results .result .image-wrapper img {
  width: 100%;
  height: auto;
}
.shows-data {
  margin-top: 20px;
}
.shows-data img {
  width: 100%;
  height: 340px;
}
@media (min-width: 940px) {
  .shows-data img {
    height: 400px;
  }
}
.shows-data .no-results {
  text-align: center;
  margin-top: 30px;
}
.shows-data .progress {
  height: 20px;
  margin-bottom: 5px;
}
.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 150, 136, 0.85);
  z-index: 9999;
  color: white;
}
.user-name {
  float: left;
}
.episode-wrapper .image-wrapper img {
  width: 100%;
  height: auto;
}
@-webkit-keyframes fadeinblock {
  0%,
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
body .welcome-bg-wrapper,
body .log-in-bg,
body .register-bg {
  height: 100%;
  width: 100%;
}
body .bg-wrapper {
  height: 100%;
  background-repeat: no-repeat;
}
body.register {
  overflow: hidden;
}
body.log-in {
  overflow: hidden;
}
body.log-in .bg-wrapper {
  background: url("../files/image/bb.jpg");
}
body.welcome {
  overflow: hidden;
}
.navbar {
  margin: 0;
}
.navbar .dropdown-toggle {
  padding: 20px !important;
}
.navbar .search button {
  display: none;
}
.red {
  color: red;
}
.noresults {
  color: #000000;
  text-align: center;
}
.show .content-body {
  margin-left: 20px;
}
.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 20%;
}
.circular {
  animation: rotate 2s linear infinite;
  height: 100px;
  position: relative;
  width: 100px;
}
.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
