body .container {
  width: 940px;
  margin-bottom: 30px;
}
body .content {
  margin-top: 20px;
  color: #000000;
}
body .header-panel {
  color: #ffffff;
  height: 120px;
  background-color: #212121;
}
body .header-panel .log-in {
  font-size: 18px;
  margin: 15px;
}
body .tiles {
  color: #FFFFFF;
  margin-top: 20px;
}
body .tiles img {
  width: 100%;
  height: auto;
}
body .tiles p {
  margin: 0;
}
body .tile {
  padding: 0;
  background: #424242;
}
body .tile .content-wrapper {
  margin: 5px 0px;
  padding: 0 10px;
  width: 86%;
  float: left;
}
body .tile .content-wrapper .name {
  font-size: 18px;
}
body .tile .checkbox {
  color: #757575;
  margin-top: 17px;
  margin-bottom: 3px;
}
body .all-shows img {
  width: 100%;
  height: auto;
}
body .all-shows .tiles .content {
  color: #000000;
  padding: 40px 70px;
}
body .all-shows .tiles .content .name {
  font-size: 20px;
}
body .all-shows .tiles .tile {
  margin: 0;
}
body .all-shows .tiles .tile.show {
  background: #424242;
  padding: 0;
  padding-bottom: 3px;
}
body .all-shows .tiles .tile.show .content-wrapper {
  padding: 0 10px;
  width: 86%;
}
body .show-wrapper .show .img-wrapper img {
  width: 200px;
}
body .show-wrapper .sm-btn-icon i {
  left: -5px;
}
body .show-wrapper .show-content .name {
  font-size: 20px;
}
body .show-wrapper .shows img {
  width: 100%;
  height: auto;
}
body .show-wrapper .episodes-wrapper {
  padding: 0px 16px;
}
body .show-wrapper .episodes-wrapper .tile .content-wrapper {
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
}
body .show-wrapper .episodes-wrapper .tile .content-wrapper .checkbox {
  float: right;
  margin-top: 4px;
  margin-bottom: 6px;
  margin-right: 5px;
}
body .bottom-menu {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
body .button-lg-icon {
  top: 0!important;
}
body .login-wrapper {
  text-align: center;
}
body .my-shows img {
  width: 100%;
  height: auto;
}
@media (min-width: 940px) {
  body .my-shows img {
    height: 335px;
  }
}
body .my-shows .tile {
  margin-right: 20px;
}
body .season-wrapper .tile {
  background: none;
}
body .season-wrapper .tile .tile-wrapper {
  margin: 0 10px;
  background: #424242;
}
body .season-wrapper .content-wrapper {
  float: none;
}
body .season-wrapper .checkbox {
  float: right;
}
