body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  .container {
    width: 940px;
    margin-bottom: 30px;
  }
  .content {
    color: #000000;
  }
  .header-panel {
    color: #ffffff;
    height: 120px;
    background-color: #212121;
    .button-wrapper {
      margin: 12px;
      .log-in {
        font-size: 18px;
        margin: 15px;
      }
    }
  }

  .tiles {
    img {
      width: 100%;
      height: auto;
    }
    p {
      margin: 0;
    }
    color: #FFFFFF;
    margin-top: 20px;
  }

  .tile {
    padding: 0;
    background: #424242;
    .content-wrapper {
      margin: 5px 0;
      padding: 0 10px;
      width: 86%;
      float: left;

      .name {
        font-size: 18px;
      }

      .rating {

      }
    }

    .checkbox {
      color: #757575;
      margin-top: 17px;
      margin-bottom: 3px;
    }
  }

  .all-shows {
    img {
      width: 100%;
      height: auto;
    }
    .tiles {
      .content {
        color: #000000;
        padding: 40px 70px;
        .name {
          font-size: 20px;
        }
      }
      .tile {
        margin: 0;
        &.show {
          background: #424242;
          padding: 0;
          padding-bottom: 3px;
          .content-wrapper {
            padding: 0 10px;
            width: 86%;
            .rating {

            }
          }
        }
      }
    }
  }
  .show-wrapper {
    .show {
      margin-top: 20px;

      .img-wrapper {
        img {
          width: 200px;
        }
      }
    }
    .sm-btn-icon {
      i {
        left: -5px;
      }
    }
    .show-content {
      .name {
        font-size: 20px;
      }
    }
    .shows {
      img {
        width: 100%;
        height: auto;
      }
    }

    .episodes-wrapper {
      padding: 0px 16px;
      .tile {
        .content-wrapper {
          width: 100%;
          margin: 0;
          margin-bottom: 5px;
          .checkbox-wrapper {
            margin-top: 4px;
            margin-bottom: 30px;
            .checkbox {
              float: right;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .bottom-menu {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    .small {
      margin: 5px;
    }
  }

  .button-lg-icon {
    top: 0 !important;
  }
  .login {
    text-align: center;
    .login-wrapper {
      background: #FFFFFF;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #000000;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      input {
      }
    }
  }

  .my-shows {
    img {
      width: 100%;
      height: auto;
      @media (min-width: 940px) {
        height: 311px;
      }
    }
    .tile {
      background: none;
      .wrapper {
        background: #424242;
        margin: 10px;
        padding-bottom: 1px;
        .image-wrapper {
          position: relative;
          .name {
            position: absolute;
            bottom: 0;
            padding: 5px 10px;
            font-size: 15px;
          }
        }

        .checkbox {
          margin-top: 5px;
          margin-bottom: 12px;
        }
      }
    }
  }

  .register-wrapper {
    -webkit-filter: blur(0px) brightness(1);
    background: #FFFFFF;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000000;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .submit {
      margin-left: auto;
      margin-right: auto;
      width: 100px;
    }
  }

  .season-wrapper {
    .show-wrapper {
      .checkbox-name {
        float: left;
        margin-right: 15px;
      }
      margin: 10px 20px;
      color: #000000;
      .name {
        a {
          font-size: 35px;
        }
      }
      .season {
        font-size: 25px;
      }
    }
    .tile {
      .checkbox {
        margin: 7px;
        margin-bottom: 12px;
      }

      background: none;
      .tile-wrapper {
        margin: 0 10px;
        background: #424242;
        .image-wrapper {
          img {
            height: 180px;
          }
          position: relative;
          .name {
            position: absolute;
            bottom: 0;
            padding: 5px 10px;
            font-size: 15px;
          }
        }
        .content-wrapper {
          float: none;
        }
        .checkbox {
          float: right;
        }
      }
    }
  }
  .welcome {
    text-align: center;
    .welcome-wrapper {
      margin: 0;
      position: absolute;
      top: 38%;
      color: #FFFFFF;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      h1 {
        font-size: 55px;
      }
      p {
        font-size: 30px;
        text-align: left;
      }
      .log-in {
        padding: 3px 10px;
        font-size: 23px;
      }
    }
  }

  .background {
    width: 100%;
    .background-wrapper {
      .upper {
        background: url("../files/image/hoc.jpg");
        background-size: 100%;
        width: 100%;

      }
      .lower {
        background: url("../files/image/background-collage.jpg");
        background-size: 97%;
        height: 100%;
        background-repeat: no-repeat;
      }
    }
  }

  .search-trakt-wrapper {
    .results {
      .result {
        margin-top: 20px;
        .image-wrapper {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .search-wrapper {
    .results {
      .result {

        .image-wrapper {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.shows-data {
  margin-top: 20px;
  img {
    width: 100%;
    height: auto;
    @media (min-width: 940px) {
      height: 400px;
    }
  }

  .progress {
    height: 20px;
    margin-bottom: 5px;
  }
}

.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 150, 136, 0.85);
  z-index: 9999;
  color: white;
}

.user-name {
  float: left;
}

.episode-wrapper {
  .image-wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }
}

@-webkit-keyframes labels {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: -15px;
  }
}

@-webkit-keyframes fadeinblock {
  0%,
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

body {
  .welcome-bg-wrapper,
  .log-in-bg
  {
    height: 100%;
    width: 100%;
  }

  .bg-wrapper {
    height: 100%;
    background-repeat: no-repeat;
  }
  &.register {
    overflow: hidden;
    .bg-wrapper {
      background: url("../files/image/flash1_blur.jpg");

    }
  }

  &.log-in {
    overflow: hidden;
    .bg-wrapper {
      background: url("../files/image/bb.jpg");
    }
  }

  &.welcome {
    overflow: hidden;
  }
}

.upcoming {
  background: red;
}

.navbar {
  margin: 0;
  .dropdown-toggle {
    padding: 20px!important;
  }
  .search {
    button {
      display: none;
    }
  }
}

.red {
  color: red;
}