<html ng-app="simpleshow">

<head>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/material/roboto.min.css">
    <link rel="stylesheet" href="css/bootstrap/material/material-fullpalette.min.css">
    <link rel="stylesheet" href="css/bootstrap/material/ripples.min.css">
    <link rel="stylesheet" href="scripts/bootstrap-datepicker/css/datetimepicker.css">
    <link rel="stylesheet" href="css/loaders.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

    <title> SimpleShow !</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="mainController" ng-class="routeClassName">
<div class="navbar navbar-material-grey-900" ng-controller="headerController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home">SimpleShow</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('shows')}" ng-if="!logged"><a href="#shows">Shows</a></li>
            <li ng-class="{active: isActive('myshows')}"ng-show="!logged" ><a href="#myshows">My Shows</a></li>
            <li ng-class="{active: isActive('user')}"ng-show="!logged" ><a href="#user">Progress</a></li>
        </ul>
        <form class="navbar-form navbar-left search" ng-submit="submitSearch(searchString)" ng-if="!logged">
            <input type="text" class="form-control col-lg-8" ng-model="searchString" placeholder="Search">
            <button type="submit">Search</button>

        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-show="!logged">
                <a class="dropdown-toggle" data-toggle="dropdown"><span>User </span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"> {{user}} </a></li>
                    <li><a ng-click="logOut()" href="#">Log Out</a></li>
                </ul>
            </li>
                <li ng-if="logged"><a href="#log-in">Log in</a></li>
                <li ng-if="logged"><a href="#register">Sign Up</a></li>
        </ul>
    </div>
        <div class="overlay" ng-show="loader">
        <div class="loader-wrapper">
            <div class="loader">
                <svg class="circular">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-controller="simpleShowController" class="wrapper">
    {{message}}
    <div class="bg-wrapper">
        <div class="content content-body" ng-view>
        </div>
    </div>

</div>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="scripts/bootstrap/bootstrap.min.js"></script>
<script src="scripts/bootstrap/material/ripples.min.js"></script>
<script src="scripts/bootstrap/material/material.min.js"></script>
<script src="scripts/angular/angular.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
<script src="scripts/angular/angular-route.min.js"></script>
<script src="scripts/lodash.js"></script>
<script src="scripts/module/module.js"></script>
<script src="scripts/routes/routes.js"></script>
<script type="text/javascript" src="scripts/factory/factory.js"></script>
<script src="scripts/controllers/controller.js"></script>
<script src="scripts/controllers/importerController.js"></script>
<script type="text/javascript" src="scripts/controllers/formControllers.js"></script>
<script src="scripts/moment.js"></script>
<script src="scripts/services/showService.js"></script>
<script src="scripts/services/episodeService.js"></script>
<script src="scripts/services/traktTvService.js"></script>
<script src="scripts/bootstrap-notify.min.js"></script>
<script src="scripts/angular-momentjs.js"></script>
<script src="scripts/bootstrap-datepicker/js/datetimepicker.js"></script>
<script src="scripts/bootstrap/material/arrive.min.js"></script>
<script src="scripts/script.js"></script>

<script>
    $(function () {
        $.material.init();
        $.material.ripples();
        $.material.input();
    });
</script>
</body>
</html>