<div class="all-shows container list">
    <div class="list-element tiles row" ng-repeat="show in shows">
        <div class="tile well show well-material-grey-800 col-md-2">
            <div class="image-wrapper">
                <img ng-src="{{ show.ShowImage }}"/>
            </div>
            <div class="content-wrapper">
                <p class="name"><a href="#show/{{ show.ImdbID }}">{{ show.Name }}</a></p>
                <p class="rating"> Rating: {{ show.Rating }}</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"ng-click="showCheck(show.ShowId)" ng-checked="isThisUserShow(show.ShowId)">
                </label>
            </div>
        </div>

        <div class="content col-md-10">
            <p class="name"> {{ show.Name }}</p>
            <p class="description"> {{ show.Description }}</p>
            <button class="btn btn-default btn-flat" ng-click="removeShow(show.ImdbID)"><i class="mdi-navigation-close"></i> Remove</button>

        </div>
    </div>
    <div class="bottom-menu">
        <button class="btn btn-fab btn-raised btn-material-red" ng-click="open()"><i class="mdi-content-add button-lg-icon"></i></button>
    </div>

</div>