<div class="container episode-wrapper">
    <h1>{{ episode.Name }}</h1>

    <div class="col-md-6 image-wrapper">
        <img ng-src="{{ episode.EpisodeImage }}"/>
    </div>
    <div class="col-md-6">
        <p>Show: <a href="#show/{{show.ImdbID}}">{{show.Name}}</a></p>
        <a href="#show/{{ episode.ShowImdbId }}"></a>

        <p> Season: {{episode.SeasonNr}}</p>

        <p> Episode: {{episode.EpisodeNr }}</p>

        <p>Rating: {{episode.Rating}}</p>

        <p>IMDB : {{episode.ShowImdbId}}</p>

        <p>Date : {{episode.Date | date:'dd/MM/yyyy'}}</p>

        <p> Description: {{episode.Description}}</p>

        <p ng-if="episode.timeLeft"> Airing in: {{episode.timeLeft}}</p>

        <p ng-if="isThisUserEpisode(episode.EpisodeId)"></p>

        <div class="checkbox-wrapper">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-click="episodeCheck(episode.EpisodeId)"
                           ng-checked="isThisUserEpisode(episode.EpisodeId)">
                </label>
            </div>
        </div>
    </div>
    <div class="episodes-wrapper col-md-12">
        <h1>More episodes in this season</h1>
        <div class="episode col-md-3" ng-repeat="epispde in showEpisodes" ng-click="gotoEpisode(show.ImdbID, epispde.SeasonNr, epispde.EpImdbId)">
            <a href="#show/{{ show.ImdbID }}/{{ episode.SeasonNr }}/{{ epispde.EpImdbId}}"><p class="name">{{epispde.Name}} {{epispde.EpisodeNr}}x{{epispde.SeasonNr}} </p></a>
            <img ng-src="{{epispde.EpisodeImage}}" alt=""/>
        </div>
    </div>
    <div class="bottom-menu">
        <button class="btn btn-fab btn-raised btn-material-red" ng-click="editShow()"><i
                class="mdi-image-edit button-lg-icon"></i></button>
    </div>
</div>