<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <h1>Import</h1>

        <form class="import-form">
            <div class="form-group">
                <input type="text" class="form-control floating-label" data-ng-model="imdbid" placeholder="imdb Id">
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" ng-click="import(imdbid)">Import</button>
                </div>
            </div>
        </form>
    </div>
</div>