<div class="container">
    <div class="shows-data">
        <h1 class="text-center">Your progress</h1>
        <div class="show col-md-3 col-xs-6" ng-repeat="show in shows">
            <div class="img-wrapper" ng-click="gotoShow(show.Key.ImdbID)">
                <img ng-src="{{show.Key.ShowImage}}" alt="{{show.Key.Name }}"/>
            </div>
            <progressbar value="show.Value" type="success"><b>{{show.Value}}%</b></progressbar>
            <p class="name"><a href="#show/{{show.Key.ImdbID }}">{{ show.Key.Name }}</a></p>
        </div>

        <div class="noresults col-md-6 col-md-offset-3" ng-hide="shows.length">
            <p>You have no tracked shows! Go to <a href="#shows">shows</a> to select your favorite show.</p>
        </div>
    </div>
</div>