<div class="shows container tiles my-shows">

    <div class="col-md-3 wrapper tile col-xs-6" ng-repeat="show in shows">
        <div class="wrapper">
            <div class="image-wrapper">
                <a href="#show/{{ show.ImdbID }}"><p class="name">{{ show.Name }}</p></a>
                <img ng-src="{{show.ShowImage}}"/>
            </div>
            <div class="content-wrapper">
                <p class="rating"> Rating: {{show.Rating}}</p>
            </div>
            <div class="checkbox">
                <label>
                    <label class="red">
                        <i class="mdi-action-favorite" ng-click="showCheck(show.ShowId)"></i>
                    </label>
                </label>
            </div>


        </div>
    </div>
    <div class="noresults col-md-6 col-md-offset-3" ng-hide="shows.length">
        <p>You have no tracked shows! Go to <a href="#shows">shows</a> to select your favorite show.</p>
    </div>
</div>