<div class="season-wrapper container tiles">
    <div class="show-wrapper">
        <p class="name"><a href="#show/{{show.ImdbID}}">{{show.Name}}</a></p>
        <p class="season">Season {{season}}</p>
        <div class="checkbox">
            <p class="checkbox-name">Season Watched:</p>
            <label>
                <input type="checkbox" ng-checked="isSeasonWatched()"
                       ng-click="seasonWatched()" >
            </label>
        </div>
    </div>
    <div class="col-md-4 wrapper tile" ng-repeat="episode in episodes">
        <div class="tile-wrapper">
            <div class="image-wrapper">
                <p class="name">{{episode.EpisodeNr}}x{{episode.SeasonNr}} <a href="#show/{{ show.ImdbID}}/{{ episode.SeasonNr }}/{{ episode.EpImdbId}}"> {{ episode.Name }}</a></p>
                <img ng-src="{{episode.EpisodeImage}}"/>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-checked="isThisUserEpisode(episode.EpisodeId)"
                           ng-click="episodeCheck(episode.EpisodeId)">
                </label>
            </div>
            <div class="content-wrapper clearfix">
                <p class="rating"> Rating: {{episode.Rating }}</p>

            </div>

        </div>
    </div>

    <div class="bottom-menu">
        <button class="btn btn-fab btn-fab-mini btn-raised btn-sm btn-success sm-btn-icon"
                ng-click="addEpisodeModal()"><i
                class="mdi-content-add-circle-outline"></i></button>
    </div>
</div>